

<button>
  Get Greeting
</button>

<script>
  import {actions} from 'astro:actions'

  const button = document.querySelector('button')
  button?.addEventListener('click', async () => {
    const {data, error} = await actions.getGreeting({name:'Cesar'})
    if (error) {
      alert(error.message)
      return
    }
    alert(data)
  })
</script>